name: Commit Stage
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    name: Build ${{ matrix.project }}
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        project: [
          arconia-dev-services/spring-data-jdbc-postgresql,
          arconia-dev-services/spring-data-jpa-mariadb,
          arconia-dev-services/spring-data-jpa-mysql,
          arconia-dev-services/spring-data-jpa-oracle,
          arconia-dev-services/spring-data-jpa-oracle-xe,
          arconia-dev-services/spring-data-jpa-postgresql,
          arconia-dev-services/spring-data-mongodb,
          arconia-dev-services/spring-data-redis,
          arconia-dev-services/spring-rabbitmq,
          arconia-docling/document-processing,
          arconia-docling/retrieval-augmented-generation,
          arconia-multitenancy/tenant-source-properties,
          arconia-multitenancy/web-http-server,
          arconia-opentelemetry/observability-signals
        ]
    steps:
      - name: Check out source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 25
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Compile and test
        run: |
          cd ${{ matrix.project }}
          chmod +x gradlew
          ./gradlew build
