name: Commit Stage
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    name: Build ${{ matrix.project }}
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        project: [
          arconia-dev-services/spring-data-jdbc-postgresql,
          arconia-dev-services/spring-data-jpa-mariadb,
          arconia-dev-services/spring-data-jpa-mysql,
          arconia-dev-services/spring-data-jpa-oracle,
          arconia-dev-services/spring-data-jpa-oracle-xe,
          arconia-dev-services/spring-data-jpa-postgresql,
          arconia-dev-services/spring-data-mongodb,
          arconia-dev-services/spring-data-redis,
          arconia-dev-services/spring-rabbitmq,
          arconia-docling/document-processing,
          arconia-docling/retrieval-augmented-generation,
          arconia-multitenancy/tenant-source-properties,
          arconia-multitenancy/web-http-server,
          arconia-opentelemetry/observability-signals
        ]
    steps:
      - name: Check out source code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: 25
          distribution: temurin
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Compile and test
        run: |
          cd ${{ matrix.project }}
          chmod +x gradlew
          ./gradlew build
